@font-face {
    font-family: "Cascadia";
    src: url('../assets/Cascadia.ttf') format('truetype');
}

* {
	font-family: Cascadia;
	font-weight: medium;
    color: #bfbfbf;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
    z-index: -2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ascii-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: -2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.full-page-overlay {
    position: absolute;
    transition: opacity 1s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text-container {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: left;
    background-color: rgba(5, 5, 5, 0);
    z-index: 1
}

.text-container p {
    color: #757575;
    font-size: 14px;
    margin: 0;
    word-wrap: break-word;
}

#enter-container {
    top: 70%;
}

.display-text {
    transition: opacity 1s ease-in-out;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
}

.snowflake {
    position: absolute;
    display: block;
    font-size: 16px;
    color: #2A2A2A;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}




.buttons-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.buttons-container button {
    margin: 0 10px;
    background-color: rgba(5, 5, 5, 0);
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 550;
    border: 0px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1
}

.buttons-container button:hover {
    color: rgba(255, 255, 255, 1);
}
